.container
  %h1
    Leaderboard:
    %a{ href: "?date=#{@rundate << 1}" } «
    =@rundate.strftime('%B %Y')
    %a{ href: "?date=#{@rundate >> 1}" } »
  .table.table-hover
    %table.table.table-hover
      %thead
        %tr
          %th{scope: :col} Name
          %th{scope: :col} Dry Days
          %th{scope: :col} Score
      %tbody
        -@users.each do |user|
          %tr
            -puts "View: #{user.inspect}"
            %th{scope: :row}
              %a{href: "/users/#{user.id}"}=user.name
            %td=user.monthly_dry_days(@rundate)
            %td=user.monthly_display_score(@rundate)
