.container
  %h1="Leaderboard - #{@rundate.strftime('%B %Y')}"
  .table.table-hover
    %table.table.table-hover
      %thead
        %tr
          %th{scope: :col} Name
          %th{scope: :col} Dry Days
          %th{scope: :col} Score
      %tbody
        -@users.each do |user|
          %tr
            -puts "View: #{user.inspect}"
            %th{scope: :row}
              %a{href: "/users/#{user[1][:user].id}"}=user[1][:user].name
            %td=user[1][:dry_days]
            %td=user[1][:score] || 'TBI'
