.container
  %h1 Rules and FAQs
  %h4 Rules
  %ol
    %li These rules are guidelines only.
    %li Like golf, BoozeTracker is a self-regulating competition. If you cheat, you're only cheating yourself.
    %li The aim is to have three "dry days" per week.
    %li 5 points for each dry day
    %li -1 point for each booze day
    %li Max 10 points per week
    %li Scores reset each month
    %li Partial weeks in a month are scored the same as full weeks
  %h4 FAQs
  %table.table.table-hover
    %thead
      %tr
        %th{scope: :col} Question
        %th{scope: :col} Answer
    %tbody
      %tr
        %td When do the days start?
        %td Whenever you wake up.
      %tr
        %td When do the days end?
        %td Whenever you go to bed.
      %tr
        %td Can I drink Birrell?
        %td Yes. It's no alcohol, not no beer.
      %tr
        %td But Birrell contains alcohol!
        %td 0%, to the nearest whole percent.
